
  $mobile-s: new-breakpoint(min-width 320px 12);
  $mobile-m: new-breakpoint(min-width 480px 12);
  $mobile-l: new-breakpoint(min-width 768px 12);
  $desktop: new-breakpoint(min-width 960px 12);


div.user-profile {

  position: absolute;
  top: $std-header-height;
  @include outer-container;
  width: 100%;
  background: $white;

  section {
    padding: 10px;
    border: 2px solid $med-gray;
    margin: 10px;
  }


  h2 {
      text-align:center;
    }

  h3 {
      text-align:center;
      clear:both;
      font-weight:300;
     }
  p.help {
      font-size: 0.8em;
      padding: 0 20px 0 20px;
    }



  div#my-pet-list {
    p.pet-list-name {
      @include media($mobile-s) {
        @include span-columns(2);
        @include shift(0.5);
        clear:left;
      }
    }
    button.your-pet-option   {
      @include media($mobile-s) {
        @include span-columns(2.25);
        @include omega(5n);
        font-size: 0.8em;
      }
    }
    button.default {
      background: $orange;
    }
    button.not-default {
      background: $med-gray;
    }
  }


  button#add-pet {
    @include media($mobile-s) {
      @include span-columns(4); @include shift(4);
    }
    margin:0 0 20px 0;
    input {
      float: left;
    }
    select {
      float: left;
    }
    textarea {
      float: left;
    }
    span {
      display: inline-block;
      float: left;
    }
  }

  form#add-pet-form {
    @include span-columns(10);
    @include shift(1);

    #pet-name {
      @include span-columns(3);
      float:left;
    }

    #pet-type {
      @include span-columns(1.5);
      float:left;
    }

    #pet-gender {
      @include span-columns(1.5);
      float:left;
    }

    #pet-treats {
      @include span-columns(4);
      float:left;
    }

    #pet-dob {
      @include shift(0.5);
      @include span-columns(3);
      float:left;
    }

    #pet-doa {
      @include span-columns(3);
      float:left;
    }

    #pet-dod {
      @include span-columns(3);
    }
  }
}

#tools {
  #upload-container {
    position: absolute;
    top: 50%;
    width: 320px;
    left: 20%;
    z-index: 2000;
  }
}
