
  $mobile-s: new-breakpoint(min-width 320px 12);
  $mobile-m: new-breakpoint(min-width 480px 12);
  $mobile-l: new-breakpoint(min-width 768px 12);
  $desktop: new-breakpoint(min-width 960px 12);


div.user-profile {

  position: absolute;
  top: $std-header-height;

  width: 100%;
  background: $white;

  section {
    padding: 10px;
    border: 2px solid $med-gray;
    margin: 10px;
  }


  // h2 {
  //     text-align:center;
  //     font-size: 4em;
  //     font-weight: 300;
  //     letter-spacing: 0.05em;
  //     width: 100%;
  //     background: #aaa;
  //   }

  button#add-pet {
    @include media($mobile-s) {
      clear:both;
      @include span-columns(2);
      @include shift(5);
      margin-bottom: 10px;
      margin-top: 20px;

    }
  }


  section#your-pets {
    @include outer-container;

    h3 {

        text-align:center;
        clear:both;
        background: $orange;
        color: $white;
        border-radius: 0.1875em;
        font-size: 1.5em;
        font-weight: 600;
        margin: 0 0 10px 0;
       }

    section#update-pet {
      display: none;
    }

    div#my-pet-list {
      @include span-columns(12);
      @include omega();


      p.pet-list-name {
        @include media($mobile-s) {
          @include span-columns(2.5);
          clear:left;
          font-size: 0.9em;
          font-weight: 400;
          line-height: 1.3em;
          margin: 0 5px 0 10px;
          overflow-wrap: break-word;
          text-rendering: optimizeLegibility;
          padding: 2px 5px;
        }
        @include media($mobile-l) {
          font-size: 1.0em;
        }
      }
      p.pet-selected {
          border: 1px solid $black;
          background: $orange;
      }
      button.your-pet-option   {
        @include media($mobile-s) {
          @include span-columns(2.25);
          @include omega(5n);
          font-size: 0.9em;
          white-space: normal;
          margin-bottom: 2px;
          padding: .35em;
          letter-spacing: -0.1em;
        }
        @include media($mobile-l) {
          font-size: 1.0em;
          letter-spacing: initial;
        }
      }


      input {
        float: left;
      }
      select {
        float: left;
      }
      textarea {
        float: left;
      }
      span {
        display: inline-block;
        float: left;
      }

      p.help {
          font-size: 0.8em;
          padding: 0 20px 0 20px;
        }
    }
}


section#update-pet {
  overflow-y: auto;
  clear:left;
}

  form#add-pet-form {
    @include span-columns(12);

    input, label, select {
      clear: left;
    }


    span{
      float: left;
      padding: 0px 0px 0 5px;
      font-weight: bold;
      font-size: 1.2em;
    }

    #p-name {
      @include span-columns(3.5);
      float:left;

      ::-webkit-input-placeholder {
          color: $darker-orange;
        }
      :-moz-placeholder { /* Firefox 18- */
          color: $darker-orange;
        }
      ::-moz-placeholder {  /* Firefox 19+ */
          color: $darker-orange;
        }
      :-ms-input-placeholder {
          color: $darker-orange;
        }
        #pet-name, #p-name {
          color: $darker-orange;
        }



    }

    #p-gender {
      @include span-columns(2);
      float:left;
    }

    #p-type {
      @include span-columns(2);
      float:left;
    }

    #p-weight {
      @include span-columns(4.5);
      float:left;
      @include omega;
      span#weight-label {
        @include span-columns(1 of 4.5);
      }
      span.ui-widget {
        @include span-columns(3.5 of 4.5);
          input {
            @include span-columns(1.5 of 3.5);
          }
          a {
            @include span-columns(1 of 3.5);
            @include omega;
            span {
              padding:4px;
            }
          }
        }
      }

    #p-colors {
      @include span-columns(6);
      float:left;
      clear:left;

    }

    #p-breeds {
      @include span-columns(6);
      float:left;
      @include omega();
    }

    #p-body-type {
      @include span-columns(6);
      float:left;

    }

    #p-treats {
      @include span-columns(6);
      float:left;
      @include omega();
    }
    #p-bio {
      @include span-columns(6);
      float:left;
      clear:left;

    }
    #p-dates {
      @include span-columns(6);
      float:left;
      @include omega();
      #p-birth {
        color: $darker-orange;
      }
      #p-dob {
        clear:left;
        color: $darker-orange;
        input {
          color: $darker-orange;
        }
      }

      #p-doa {
        clear:left;
      }

      #p-dod {
        clear:left;
      }
    }
    #p-submit {
      @include span-columns(3);
      @include shift(4.5);
    }
  }
}


section#add-media {

    h3 {
      font-size: 1.5em;
    }

    span{
      float: left;
      padding: 0px 5px 0 5px;
      font-weight: bold;
      font-size: 1.2em;
    }

}

#tools {
  #upload-container {
    position: absolute;
    top: 50%;
    width: 320px;
    left: 20%;
    z-index: 2000;
  }
}


button.default {
  background: $orange;
}
button.not-default {
  background: $med-gray;
}


#ui-datepicker-div {
  display: none;
}
