
div#browse-container {
  // @include outer-container;
  margin-top:100px;

  div.pet-box {
    // @include span-columns(4);
    float:left;

    img.pet-pic {
      width: auto;
      height: 300px;
    }

   .pet-pic-info {

        width: 100%;

        margin: 0;
        padding: 0 10px 0 10px;

        .pet-person {
          float:right;
          color: $black;
          font-size: 1.5em;
        }
        .pet-name {
          float: left;
          color: #ee7600;
          width: 85px;
          font-size: 2.5em;
          font-family: $primary-font;
        }

    }

    background-color: $white;
    margin: 18px 14px 0 14px;

  }

}
