
div#browse-container {
  margin: 0 0 0 0;

  div.pet-box {

    float:left;

    padding: 5px;

    background-color: white;

    border: solid 2px $black;
    border-radius: 5px;


    img.pet-pic {
      width: auto;
      height: 200px;
      border-radius: 5px;
      @include if-brightness(0.9);
    }

   .pet-pic-info {

        width: 100%;

        margin: 0;
        padding: 0 10px 0 10px;

        .pet-person {
          clear: both;
          text-align: center;
          color: $darker-orange;
          font-size: 1.0em;
          font-weight: 600;
        }
        .pet-name {
          text-align: center;
          color: $black;
          font-size: 1.4em;
          font-family: $secondary-font;
        }

    }

    background-color: $white;
    margin: 10px;

  }

  .pet-box:hover {
    background-color: #FFF;
    img.pet-pic {
      @include if-brightness(1.25);
    }
  }

  .pet-box:last-child {
    margin-bottom:40px;
  }

}
