div#main-container.standard {
  @include media($mobile-s) {
    margin: 180px 0 0 0;
    div.pic-showcase {
      padding-top: 0px;
    }
    header#pet-header {
      position: fixed;
      z-index: 50;
      background: $black;
      width: 100%;
      top: 35px;
      text-align: center;

      h2 {
        font-size: 2.5em;
        font-family: $secondary-font;
        font-weight: 300;
        width: 100%;
        opacity: 1;
        z-index: 100;
        text-transform: capitalize;
        color: $white;
        margin: 10px 0 -35px 0;
      }
      p#life-marker {
        font-size: 1.5em;
        color: $white;
        font-weight: 400;
      }
      #about {
        width: 90px;
        border: 2px solid $orange;
        text-decoration: none;
        border-radius: 0;
        text-shadow: none;
        box-shadow: none;
        font-size: 1.0em;
        text-align: center;
        margin:-20px 0 10px 0;
        text-transform: uppercase;
        color: $orange;
        background: $black;
        padding: 10px;
        font-weight: 400;
        position: relative;
        left: calc(50% - 45px);
      }
    }
  }


  @include media($mobile-m) {
    div.pic-showcase {
      padding-top: 0px;
    }
    header#pet-header {
      padding: 0 0 10px 0;

      h2 {
        font-family: $secondary-font;
        font-size: 3.5em;
        text-align: center;
        margin: 20px 0 20px 0;
      }


      p#life-marker {
        text-align: center;
        margin: -35px 0 0 5px;
      }

      #about {
        margin: 5px 0 0 0;
        position:absolute;
      }
      #about:hover {
        color: $darker-orange;
        background: $white;
        border: 1px solid $black;
      }

    }
  }


  div.pic-showcase {

    margin: 0 auto;
    transition: opacity .8s;
    width: 100%;
    text-align: center;
    padding: 10px 25px 25px 25px;

    &.edit {
      padding-top: 150px;
    }

    a {

      display:inline-block;
      position:relative;

      .montageSquare {
        @include media($mobile-s) {
          width:100%;
          @include if-brightness(1);
          float:left;
          padding:0;
          margin-bottom:10px;
        }
        @include media($mobile-m) {
          height: 300px;
          width:auto;
          @include if-brightness(1);
          float:left;
          padding: 20px;
        }
        @include media($mobile-l) {
          &:hover {
            @include if-brightness(1.25);
            border: solid 2px $orange;
            padding: 18px;
          }
        }
      }
    }

    &.edit a > .montageSquare {
      &:hover {
        @include if-brightness(1);
        border: none;
        padding: 20px;
      }
    }

    a.selected > .montageSquare {
      opacity: 0.4;
    }


    i.fa-close {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px;
      background: $black;
      color: $black;
      border: 1px solid #fff;
      display: none;
    }

    a.selected > i.fa-close {
      color: $white;
    }


    .flickr {

      // border-left: solid 2px #0063dc;
      // border-top: solid 2px #0063dc;
      // border-right: solid 2px #ff0084;
      // border: solid 4px $flickr;
    }

    iframe.vine-embed-small {
      width:400px;
      html {
        body {
          div.embed-simple {
            position: relative;
            // height: 100%;
            // width: 150%;
       overflow: hidden;
       color: #464646;
       background: #000;

            .embed .video-container {
              position: relative;
       //        height: 100%;
       // width: 100%;

      text-align: inherit;


                  .embed video {
            height: auto;
            width: auto;
              }
                }
                }

              }
            }
          }

    .flickr:hover {

      @include if-brightness(1.25);
      border: solid 2px $flickr;
      // @include size(250px 250px);
      // width: 100%;
      // margin:0 6.25% 0 -6.25%;
      // border-top: solid 4px #0063dc;
      // border-left: solid 4px #0063dc;
      // border-right: solid 4px #ff0084;
      // border-bottom: solid 4px #ff0084;
    }
  // div.pic-container.w2 { width:  120px; }

  // div.pic-container:nth-child(1) {
  //   width: 100px;
  //   }
  //
  div.pic-container:nth-child(1n) {
    // width: 10%;
    // float:left;
    // padding-left:10%;
    }
  div.pic-container:nth-child(2n) {
    // width: 20%;
    // float:right;
    // padding-right:10%;
    }
  }
}
