#profile-container {
    @include outer-container;
    position: fixed;
    left: 0;
    top: 155px;
    right: 0;
    bottom: 0;
    // top: 180px;
    z-index: 7001;
    width:100%;
    overflow:scroll;

    .profile {
      position:static;
      font-family:$secondary-font;
      width: 100%;
      height:100%;
      padding: 10px;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.45098), rgba($darker-orange, 0.45098));

      p {
        border: solid 2px #333;
        margin: 15px auto;
        font-weight: 300;
        font-size: 1.0em;
        opacity: .8;
        background: #eaeaea;
        text-align: center;

        span.profile-label {
          font-weight: bold;
          text-transform: uppercase;
          display:block;
          font-size:1.0em;
          background:$orange;
          padding:5px 3px;
        }
        span.profile-value {
          display:block;
          font-size:1.0em;
          background:white;
          padding:5px 3px;
        }
      }
      p#bio {
        @include span-columns(12);
        @include omega();
        line-height: 25px;
        letter-spacing: 0.05em;
        opacity: 1;
        font-size: 1.3em;
        line-height: 1.6em;
      }

      p.small-field {
        @include span-columns(2);

      }

      p.med-field {
        @include span-columns(3);

      }
      // p#treats {
      //   @include span-columns(2.5);
      // }
      p#type {
         clear: both;
      }
      // p#body-type {
      //   @include span-columns(2.5);
      // }
      // p#colors {
      //   @include span-columns(2.5);
      // }
      // p#weight {
      //   @include span-columns(2.5);
      // }
      // p#gender {
      //   @include span-columns(2.5);
      // }
      // p#breeds {
      //   @include span-columns(2.5);
      // }
      p#born, p#died, p#adopted {
        @include span-columns(2);
      }


    }

    button#close-profile, button#next-pic{
      display: block;

      background: $darker-orange;
      color: #111;
      border-radius: 17.5px;

      border: solid 2px #333;

      height: 35px;
      width: 35px;
      position: absolute;
      padding: 0;
      right: 0;
      top: 10px;
    }
  }
