#profile-container {
    @include outer-container;
    position: absolute;
    left: 0;
    top: 180px;
    z-index: 7001;
    width:100%;

    .profile {
      position:fixed;
      font-family:$secondary-font;
      width: 100%;
      height:100%;

      p {
        border: solid 2px #333;
        padding: 15px;
        margin: 15px;
        font-weight: 300;
        font-size: 1.0em;
        opacity: .8;
        background: #eaeaea;

        span {
          font-weight: bold;
          text-transform: uppercase;
          display:block;
          font-size:1.2em;
        }
      }
      p#bio {
        @include span-columns(8);
        line-height: 25px;
        letter-spacing: 0.05em;
      }

      p.small-field {
        @include span-columns(2);

      }

      p.med-field {
        @include span-columns(3);

      }
      // p#treats {
      //   @include span-columns(2.5);
      // }
      p#type {
         clear: both;
      }
      // p#body-type {
      //   @include span-columns(2.5);
      // }
      // p#colors {
      //   @include span-columns(2.5);
      // }
      // p#weight {
      //   @include span-columns(2.5);
      // }
      // p#gender {
      //   @include span-columns(2.5);
      // }
      // p#breeds {
      //   @include span-columns(2.5);
      // }
      p#born, p#died, p#adopted {
        @include span-columns(2);
      }
      button#close-profile, button#next-pic{
        @include span-columns(1.75);
        background: $darker-orange;
        color:$black;
        border-radius:0;
        margin-bottom:20px;
        border:solid 2px #333;
        padding: 15px;
      }

    }
  }
