#profile-container {
    @include outer-container;
    position: fixed;
    left: 0;
    top: 155px;
    right: 0;
    bottom: 0;
    // top: 180px;
    z-index: 7001;
    width:100%;
    overflow:scroll;

    .profile {
      position:static;
      font-family:$secondary-font;
      width: 100%;
      height:100%;
      padding: 10px;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.45098), rgba($darker-orange, 0.45098));

      p {
        @include media($mobile-s) {
          border: solid 2px #333;
          margin: 0;
          font-weight: 300;
          font-size: 1.0em;
          opacity: .8;
          background: #eaeaea;
          text-align: center;
          border-radius: 2px;
          min-width: 100px;
        }
        @include media($mobile-l) {
          margin: 15px auto;
        }


        span.profile-label {
          font-weight: bold;
          text-transform: uppercase;
          display:block;
          font-size:1.0em;
          background:$orange;
          padding:5px 3px;
        }
        span.profile-value {
          display:block;
          font-size:1.0em;
          background:white;
          padding:5px 3px;
          font-weight: 600;
          letter-spacing: -0.05em
        }
      }
      p#bio {
        @include media($mobile-s) {
          @include span-columns(12);
          @include omega();
          line-height: 25px;
          opacity: 1;
          font-size: 1.0em;
          line-height: 1.4em;
          text-align: left;
          padding: 15px;
          background: white;
          font-weight: 700;
          border-radius: 4px;

          span.profile-value {
            letter-spacing: 0.02em
          }
        }
        @include media($mobile-l) {
          font-size: 1.3em;
          line-height: 1.6em;
          text-align: justify;
        }
      }

      p.small-field {
        @include media($mobile-s) {
          @include span-columns(12);
        }
        @include media($mobile-l) {
          @include span-columns(2);
        }

      }

      p.med-field {
        @include media($mobile-s) {
          @include span-columns(12);
        }
        @include media($mobile-l) {
          @include span-columns(3);
        }

      }
      // p#treats {
      //   @include span-columns(2.5);
      // }
      // p#type {
      //    clear: both;
      // }
      // p#body-type {
      //   @include span-columns(2.5);
      // }
      // p#colors {
      //   @include span-columns(2.5);
      // }
      // p#weight {
      //   @include span-columns(2.5);
      // }
      // p#gender {
      //   @include span-columns(2.5);
      // }
      // p#breeds {
      //   @include span-columns(2.5);
      // }
      p#born, p#died, p#adopted {
        @include media($mobile-s) {
          @include span-columns(12);
        }
        @include media($mobile-l) {
          @include span-columns(2);
          p.date-field {
            clear:left;
          }
          p.date-field ~ .date-field {
            clear:none;
          }
        }
      }




    }


  }
