
div#tools {
  position: absolute;
  top: 50px;
  width: 300px;
  left: calc(45% - 150px);
  #tools-container {
    background: $white;
    border:2px black solid;
    button.close {
      top: -10px;
      right: -10px;
    }
    position: fixed;
    top: 10px;
    left: calc(50% - 160px);
  }
  z-index:8001;
  display:none;
  form {
    padding: 20px;
  }
}

div.map-outer {
  position: absolute;
  background: $white;
  margin: 20px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  display: none;

  div#map-container {
    width: calc(100%-40px);
    height: 100%;
    margin:20px;
  }
}
