@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


  $mobile-s: new-breakpoint(min-width 320px 6);
  $mobile-m: new-breakpoint(min-width 480px 6);
  $mobile-l: new-breakpoint(min-width 768px 12);
  $desktop: new-breakpoint(min-width 960px 12);


div.user-profile {

  position: absolute;
  top: 10%;
  opacity: .8;
  @include outer-container;
  width: 100%;
  max-width: 500px;


  h2 {
      text-align:center;
    }

  h3 {
      text-align:center;
      clear:both;
    }


  div#my-pet-list {
    p.pet-list-name {
      @include media($mobile-s) {
        @include span-columns(1.5);
        clear:left;
      }
    }
    button.your-pet-option   {
      @include media($mobile-s) {
        @include span-columns(1.125);
        @include omega(5n);
      }
    }
  }


  button#add-pet {
    @include media($mobile-s) {
      @include span-columns(2); @include shift(1);
    }
  }
}

#tools {
  #upload-container {
    position: absolute;
    top: 50%;
    width: 320px;
    left: 20%;
    z-index: 2000;
  }
}
