@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


  $mobile-s: new-breakpoint(min-width 320px 6);
  $mobile-m: new-breakpoint(min-width 480px 6);
  $mobile-l: new-breakpoint(min-width 768px 12);
  $desktop: new-breakpoint(min-width 960px 12);


div#browse-container {
  @include outer-container;
  div.pet-box {
    img.pet-pic {

    }
    p.pet-name {

    }
    p.pet-person {

    }
  }

}
