 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300);

$primary-font: 'Pusekatt', 'Times New Roman',serif;
$secondary-font: 'Roboto Condensed','Helvetica Neue',Arial,sans-serif;

$orange: darkorange;

@mixin if-brightness($amt: 1.1) {
  -o-filter: brightness($amt);
  -ms-filter: brightness($amt);
  -moz-filter: brightness($amt);
  -webkit-filter: brightness($amt);
}

/// Reset

li,ul {
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

h1 {
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
}



///

body {
  background: $orange;
  font-family: $primary-font;
  width:100%;

  header#main-header{
    // position: fixed;
    background: $orange;
    text-align:center;
    margin: auto;

    div#logo-container{
      background: #eaeaea;
      border-radius: 100px;
      width: 200px;
      margin: auto;
      padding: 5px 0px 15px 15px;
      height: 200px;

      #logo{
        width: 160px;
      }
    }
    h1 {
      font-size: 3.8em;
      font-weight: 300;
      margin: 5px 0 -20px 0;
    }
  }

  #main-container{
    position: absolute;
    top: 50%;

    div#splash-img-container{
      position: relative;

      #splash-img {
        width: 100%;
        position: relative;
      }
      p#splash-pet-name {
        position: absolute;
        top: 0;
        right: 10px;
        font-family: $secondary-font;
      }

    }
    @include outer-container;
    $mobile: new-breakpoint(min-width 320px 5);
    $desktop: new-breakpoint(min-width 960px 12);



    nav#main-nav{
      @include media($mobile);
        position: absolute;
        bottom: 0%;
        z-index: 500;
        color: #000;
        font-size: 1.1em;
        width: 100%;
        padding: 5px 0 5px 0;
        background: $orange;
        ul {
          li {
            list-style: none;
            float:left;
            text-align: center;
            width: 33.33%;
          }
        }
      }
    // position: absolute;
    // top: 80px;
    // width:100%;
  }
}

header#pet-header {
  position: fixed;
  z-index: 50;
  margin: 0 0 30px 0;
  width: 100%;
  opacity: .7;

    h1 {
      font-size: 6.5em;
      font-family: $primary-font;
      font-weight: 300;
      letter-spacing: .05em;
      margin: 0 0 0 35px;
      background: #aaa;
      opacity: 1;
      z-index: 100;
      text-transform: capitalize;
      @media screen and (max-width: 480px){
        font-size: 4.5em;
        letter-spacing: .075em;
        margin: 0;
      }
    }

    #about {
      position: absolute;
      top: 0;
      left: 50%;
    }
}

section.profile-wrapper {
    width: 400px;
    background: #aaa;
    display: none;
    position:fixed;
}



div#flickr-montage {
  // @include outer-container;
  div.flickrPicContainer {

    float: left;
    margin: 75px 0 0 0;

    // @include span-columns(4);
    // @include omega(3n);
    .montageSquare {
      // transition: opacity 1.0s easing;
      // opacity: 1;
      // @include size(250px 250px);
      width: 100%;
      border: solid 2px black;
      transition: margin .2s linear;
      transition: width .2s linear;
      transition-delay: margin .2s;

    }
    .montageSquare:hover {

      @include if-brightness(1.2);
      // @include size(250px 250px);
      width: 125%;
      margin-left:-12.5%;
      border: solid 4px black;


    }
  }
  div.flickrPicContainer.w2 { width:  120px; }
  div.flickrPicContainer:nth-child(1n) {width:100%}
  div.flickrPicContainer:nth-child(3n) {
    width: 70%;
    float:left;
    padding-left:10%;}
    div.flickrPicContainer:nth-child(2n) {
    width: 70%;
    float:right;
    padding-right:10%;
    }


}



// form file upload
form#fileupload {
  clear:both;
  z-index:3000;
}

.display-message {
  display: none;
}
