 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import url(http://fonts.googleapis.com/css?family=Francois+One:400,300italic,500);
@import url(http://fonts.googleapis.com/css?family=Gruppo:400,300italic,500);

$primary-font: 'Gruppo','Helvetica Neue',Arial,sans-serif;

@mixin if-brightness($amt: 1.1) {
  -o-filter: brightness($amt);
  -ms-filter: brightness($amt);
  -moz-filter: brightness($amt);
  -webkit-filter: brightness($amt);
}


body {
  background: #fafafa;
  font-family: $primary-font;
  color: #333;
  width:100%;

  header#main-header{
    position: fixed;
  }

  .main-container{
    position: absolute;
    top: 80px;
    width:100%;
  }
}

header#pet-header {
  position: fixed;
  z-index: 50;
  margin: 0 0 30px 0;
  width: 100%;
  opacity: .7;

    h1 {
      font-size: 6.5em;
      font-family: $primary-font;
      font-weight: 300;
      letter-spacing: .05em;
      margin: 0 0 0 35px;
      background: #aaa;
      opacity: 1;
      z-index: 100;
      text-transform: capitalize;
      @media screen and (max-width: 480px){
        font-size: 4.5em;
        letter-spacing: .075em;
        margin: 0;
      }
    }

    #about {
      position: absolute;
      top: 0;
      left: 50%;
    }
}

section.profile-wrapper {
    width: 400px;
    background: #aaa;
    display: none;
    position:fixed;
}



div#flickrMontage {
  // @include outer-container;
  div.flickrPicContainer {

    float: left;
    margin: 75px 0 0 0;

    // @include span-columns(4);
    // @include omega(3n);
    .montageSquare {
      // transition: opacity 1.0s easing;
      // opacity: 1;
      // @include size(250px 250px);
      width: 100%;
      border: solid 2px black;
      transition: margin .2s linear;
      transition: width .2s linear;
      transition-delay: margin .2s;

    }
    .montageSquare:hover {

      @include if-brightness(1.2);
      // @include size(250px 250px);
      width: 125%;
      margin-left:-12.5%;
      border: solid 4px black;


    }
  }
  div.flickrPicContainer.w2 { width:  120px; }
  div.flickrPicContainer:nth-child(1n) {width:100%}
  div.flickrPicContainer:nth-child(3n) {
    width: 70%;
    float:left;
    padding-left:10%;}
    div.flickrPicContainer:nth-child(2n) {
    width: 70%;
    float:right;
    padding-right:10%;
    }


}



// form file upload
form#fileupload {
  clear:both;
  z-index:3000;
}

.display-message {
  display: none;
}
