<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="pett.io" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>pett.io</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header id="main-header">
    </header>
    <div id="main-container">
      <div id="profile-container">
      </div>
      <div id="content">
      </div>
    </div>
    <div id="tools">
      <div id="upload-container"></div>
    </div>
    <div class="templates">


      <script type="text/template" id="splash-template">
          <div id="splash-img-container">
          <!--  <img id="splash-img" src="http://i.imgur.com/cotiNn3.jpg"> -->

          </div>
          <nav id="main-nav">
              <a href="#/login"><button id="splash-login">Log In</button></a>
              <a href="#/signup"><button id="splash-signup">Sign Up</button></a>
          </nav>

      </script>

      <script type="text/template" id="header-template">
          <h1 class="standard">pett.io</h1>
          <div id="header-box">
          </div>
          <div id="header-box-overlay">
            <h1>pett.io</h1>
            <h2>The only pet showcase you'll ever need</h2>
            <a href="#/browse"><button id="browse">Browse</button></a>
          </div>

          <nav id="header-nav">
            <ul>
              <li id="log-out"><a href="#">Log Out</a></li>
              <li id="account"><a href="#/account/<%-userName %>">Update Account</a></li>
              <li id="upload"><a href="#">Upload Images</a></li>
            </ul>
            <p id="header-username"><a href="/#/account/<%-userName %>"><%-userName %></a></p>
          </nav>

      </script>

      <script type="text/template" id="image-upload-template">
        <form id="fileupload" name="fileupload" enctype="multipart/form-data" method="post">
        <fieldset>
          <input type="file" name="fileselect" id="fileselect"></input>
          <input id="uploadbutton" type="button" value="Upload"/>
        </fieldset>
        <p class="display-message"></p>
        <button id="close-upload">Close</button>
        </form>

      </script>

      <script type="text/template" id="account-template">

          <div class='user-profile'>
            <h2><%-userName%></h2>

            <section id="your-pets">
              <h3>Your Pets</h3>
              <button id="add-pet">Add a pet</button>
              <section id="update-pet">
              </section>
              <div id="my-pet-list">
              </div>
            </section>



            <section id="add-media">
              <h3>Add a Flickr account</h3>
              <p class="help">In this initial version of pett.io, Flickr integration is provided by simply using an account name provided by you and a tag name you have used to indicate photos of your pet. There is no validation of your account, and only publicly available photos will be fetched. The last 12 photos you have tagged of your pet will be included in your pet's showcase page.</p>
              <input type="text" id="flickr-account" placeholder="account name"></input>
              <input type="text" id="flickr-tag" placeholder="tag used for pet photos"></input>
              <button id="add-flickr">Add Flickr username</button>
              <select id="pet-names">
              </select>


              <h3>Add a Vine account</h3>
              <p class="help">In this initial version of pett.io, Vine is provided by providing a single tag that should be unique enough to pull only vines that features your pet. To use this feature, an example of a unique tag you might use could be 'davesdogbuster'. There is no validation of this tag. The last 12 vines you have tagged of your pet will be included in your pet's showcase page.</p>
              <input type="text" id="vine-account" placeholder="account name"></input>
              <input type="text" id="vine-tag" placeholder="tag used for pet photos"></input>
              <button id="add-flickr">Add Vine username</button>
            </section>



          </div>

      </script>

      <script type="text/template" id="pet-list-template">
          <p id="<%-name %>" class="pet-list-name"><%-name %></p>
          <button class="your-pet-option" id="view-page">View page</button>
          <button class="your-pet-option" id="edit-profile">Edit profile</button>
          <button class="your-pet-option" id="upload-image">Upload image</button>
          <button class="your-pet-option" id="set-default">Set as default</button>
      </script>

      <script type="text/template" id="profile-template">

          <div class='profile' >
              <% if (bio != "null") { %>
                <p id="bio"><%-bio%></p>
              <% }  %>
              <% if (type != "null") { %>
                <p class="small-field" id="type"><span>Type</span> <%-type%></p>
              <% }  %>
              <% if (gender != "null") { %>
                <p class="small-field" id="gender"><span>Gender</span> <%-gender%></p>
              <% }  %>
              <% if (colors != "null") { %>
                <p class="small-field" id="colors"><span>Colors</span> <%-colors%></p>
              <% }  %>
              <% if (breeds != "null") { %>
                <p class="small-field" id="breeds"><span>Breed</span> <%-breeds%></p>
              <% }  %>
              <% if (bodyType != "null") { %>
                <p class="small-field" id="body-type"><span>Body Type</span> <%-bodyType%></p>
              <% }  %>
              <% if (weight != "null") { %>
                <p class="small-field" id="weight"><span>Weight</span> <%-weight%></p>
              <% }  %>
              <% if (favoriteTreats != "null") { %>
                <p class="small-field" id="treats"><span>Favorite Treats</span> <%-favoriteTreats%></p>
              <% }  %>
              <% if (!isNaN(dateBirth)) { %>
                <p class="date-field" id="born"><span>Born</span> <%-dateBirth%></p>
              <% }  %>
              <% if (!isNaN(dateDeath)) { %>
                <p  class="date-field" id="died"><span>Passed</span> <%-dateDeath%></p>
              <% }  %>
              <% if (!isNaN(dateAdopted)) { %>
                <p  class="date-field" id="adopted"><span>Adopted</span> <%-dateAdopted%></p>
              <% }  %>



            <button id="close-profile">Close</button>
          </div>

      </script>

      <script type="text/template" id="add-pet-template">

          <form id="add-pet-form">
            <div id="p-name"><span>Name</span><input type="text" id="pet-name" placeholder="Required"></div>
            <div id="p-gender"><span>Gender</span><select id="pet-gender">
              <option selected label="Unknown" value="Unk">
              <option label="Female" value="Female">
              <option label="Male" value="Male">
            </select></div>
            <div id="p-type"><span>Type</span><select id="pet-type">
              <option label="bird" value="bird">
              <option selected label="cat" value="cat">
              <option label="dog" value="dog">
              <option label="fish" value="fish">
              <option label="horse" value="horse">
              <option label="reptile" value="reptile">
            </select></div>
            <div id="p-weight"><span id="weight-label">Weight (lb.)</span><input type="text" id="pet-weight"></div>
            <div id="p-colors"><span>Colors</span><textarea rows="2" id="pet-colors" placeholder="Separate list w/ commas"></textarea></div>
            <div id="p-breeds"><span>Breed</span><textarea rows="2" id="pet-breeds" placeholder="Separate list w/ commas"></textarea></div>
            <div id="p-body-type"><span>Body Type</span><textarea rows="2" id="pet-body-type" placeholder="List w/ commas (i.e. 'long, slender, athletic')"></textarea></div>
            <div id="p-treats"><span>Favorite Treats</span><textarea rows="2" id="pet-treats" placeholder="Separate list w/ commas"></textarea></div>
            <div id="p-bio"><span>Bio</span><textarea rows="9" id="new-pet-bio" placeholder="Tell the world about your pet here!"></textarea></div>
            <div id="p-dates">
              <div id="p-birth"><span>Birth Date</span><input type="text" id="pet-dob" placeholder="MM/DD/YYYY"></div>
              <div id="p-adoption"><span>Adoption Date</span><input type="text" id="pet-doa" placeholder="MM/DD/YYYY"></div>
              <div id="p-passed"><span>Passed Date</span><input type="text" id="pet-dod" placeholder="MM/DD/YYYY"></div>
            </div>
            <input id="p-submit" type="submit" value="Submit">
          </form>

      </script>


      <script type="text/template" id="flickr-template">

            <img class='montageSquare flickr' src='<%-flickrImg %>'>

      </script>
<!-- <img src='<%-browseImg %>' class='pet-pic'> -->
      <script type="text/template" id="browse-template">
          <div class='pet-box'>

            <div class='pet-name'><%=petname %></div>
            <div class='pet-person'><%=username %></div>

            <img class='pet-pic' src='<%=url %>'>
          </div>
      </script>

      <script type="text/template" id="pet-header-template">
          <header id="pet-header">
            <h2><%-petName %></h2>
            <div id="about">About</div>
          <!--<div id="profile-container"></div>-->
      </script>

      <script type="text/template" id="parse-pic-template">

            <img class='montageSquare' src='<%-parseImg %>'>

      </script>


      <script type="text/template" id='vine-template'>
        <div id="vineMontage">

            <div class='result' id='<%-postId %>'>
              <iframe class="vine-embed-small" src="<%-permalinkUrl %>/embed/simple" frameborder="0"></iframe>
              <a href="#/<%-tag %>/<%-postId %>">
                <div class='result-overlay' id='<%-postId %>'> </div></a>
            </div>
        </div>
      </script>

      <script type="text/template" id="login-template">

        <div id="login">
          <form class="login-form">
            <div class="error" style="display:none"></div>
            <input type="text" id="login-username" placeholder="Username" />
            <input type="password" id="login-password" placeholder="Password" />
            <button>Log In</button>
          </form>
        </div>
      </script>

      <script type="text/template" id="signup-template">

        <div id="signup">
          <form class="signup-form">
            <div class="error" style="display:none"></div>
            <input type="text" id="signup-username" placeholder="Create a username" />
            <input type="password" id="signup-password" placeholder="Create a password" />
            <button>Sign Up</button>
          </form>
        </div>
      </script>



    </div>
  </body>




<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/masonry/dist/masonry.pkgd.js"></script>
<script src="../bower_components/imagesloaded/imagesloaded.js"></script>
<script src="../bower_components/moment/moment.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- parse.js -->
<script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>

<!-- build:js scripts/main.js -->
<script src="scripts/functions.js"></script>
<script src="scripts/apis.js"></script>
<script src="scripts/models.js"></script>
<script src="scripts/profile.js"></script>
<script src="scripts/upload.js"></script>
<script src="scripts/browse.js"></script>
<script src="scripts/views.js"></script>
<script src="scripts/login.js"></script>
<script src="scripts/signup.js"></script>
<script src="scripts/account.js"></script>
<script src="scripts/router.js"></script>
<script src="scripts/splash.js"></script>
<script src="scripts/app.js"></script>
<!-- endbuild -->

</html>
